<!-- <footer style="width: 100%; border-top: 1px solid #999; padding-top: 0; margin-top: 5rem;"> -->
<footer>
  <div class="credits">
    <span>&copy; {{ site.time | date: '%Y' }}
      {% if site.email == "" or site.email == nil %}
        {% comment %} </br> <br> {% endcomment %}
      {% else %}
          <a href="{{ site.url }}">{{site.author}}</a></span>
      <!-- </br> <br> -->
      {% endif %}

    &nbsp;&nbsp;

    <span><a href="https://buttondown.email/itsjustmath" title="Newsletter">Newsletter</a></span>

    <div style="display: none;">
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/itsjustmath"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/itsjustmath', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <label for="bd-email"><strong>Newsletter Sign-up: </strong></label>
        <input type="email" name="email" id="bd-email" placeholder="Email">
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
</foote>