---
layout: default
title: Blog
# Note that this index page uses a full-width layout!
weight: 2
published: true
---

{% for post in site.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
  {% if post.show_date == true %}
    <br><span>{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
  {% endif %}

  {% if post.description %}
    <div>
      <p>{{ post.description }}</p>
    </div>
  {% else %}
    <div>{{ post.excerpt }}</div>
  {% endif %}

  <p><a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
{% endfor %}